
body {
    overflow-x: hidden;
    overflow-y:hidden;
}

.tipper_title {
    text-align: center;
    color: rgb(96, 94, 94);
}

.container {
    position: relative;
    height: 700px;
    background-color: rgb(96, 94, 94) ;
}